<h1>Hello, my name is {{ name }}</h1>
<fun [message]="name"></fun>

Change name: <input type="text" [(ngModel)]="name"/>

<p *ngIf="name.startsWith('LOVE')">You have won the price! An easter egg is comming your way sir.</p>
<p *ngIf="name === 'LOVE ME LIKE YOU DO!'">Dang sir, you are on a streak!!</p>
<p *ngIf="name === 'LOVE ME LIKE YOU DO!!'">STOP THIS MAD MAN</p>
<p *ngIf="name === 'LOVE ME LIKE YOU DO!!!'">HE IS REACHING BREAKING POINT, THE UNIVERSE WILL COLLAPSE</p>
<p *ngIf="name === 'LOVE ME LIKE YOU DO!!!!'">x(</p>


<hr />

<div>
  <slider [images]='images'></slider>
</div>

<router-outlet></router-outlet>
